<div>
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <h1>Glimmer x.x.x</h1>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-6 smallpad">
            <button type="button" class="btn btn-primary btn-block" id="run" onclick={{action create}}>Create 1,000 rows</button>
          </div>
          <div class="col-sm-6 smallpad">
            <button type="button" class="btn btn-primary btn-block" id="runlots" onclick={{action runLots}}>Create 10,000 rows</button>
          </div>
          <div class="col-sm-6 smallpad">
            <button type="button" class="btn btn-primary btn-block" id="add" onclick={{action add}}>Append 1,000 rows</button>
          </div>
          <div class="col-sm-6 smallpad">
            <button type="button" class="btn btn-primary btn-block" id="addTwo" onclick={{action addTwo}}>Append 2 rows (temp)</button>
          </div>
          <div class="col-sm-6 smallpad">
            <button type="button" class="btn btn-primary btn-block" id="update" onclick={{action update}}>Update every 10th row</button>
          </div>
          <div class="col-sm-6 smallpad">
            <button type="button" class="btn btn-primary btn-block" id="clear" onclick={{action clear}}>Clear</button>
          </div>
          <div class="col-sm-6 smallpad">
            <button type="button" class="btn btn-primary btn-block" id="swaprows" onclick={{action swapRows}}>Swap Rows</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-hover table-striped test-data">
    <tbody>
      {{#each store.rows key="id" as |item|}}
        <tr>
          <td class="col-md-1">{{item.id}}</td>
          <td class="col-md-4">
            <a onclick={{action select item.id}}>{{item.label}}</a>
          </td>
          <td class="col-md-1"><a onclick={{action remove item.id}}><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
          <td class="col-md-6"></td>

          <td class="col-md-6" style="display: none;">
            <span class="label label-default">{{item.id}}</span>
          </td>

          <td class="col-md-6" style="display: none;">
            <h3>Example heading <span class="label label-default">{{item.label}}</span></h3>
          </td>

          <td class="col-md-6" style="display: none;">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </td>

          <td class="col-md-6" style="display: none;">
            <div class="media">
              <div class="media-left media-middle">
                <a href="#">
                  <img class="media-object" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Middle aligned media</h4>
                {{item.label}}
              </div>
            </div>
          </td>

        </tr>
      {{/each}}
    </tbody>
  </table>
  <span class="preloadicon glyphicon glyphicon-remove" aria-hidden="true"></span>
</div>
